@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */

@font-face {
  font-family: "TuskerFont";
  src: url("/public/fonts/tusker-grotesk/TuskerGrotesk-3700Bold.woff2")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

.font-tusker {
  font-family: "TuskerFont", sans-serif;
}

.interFont {
  font-family: "Inter", sans-serif;
}
